.container {
  width: 100%;
  position: absolute;
  z-index: -1;
  left: 0;
  padding: "1rem";
  right: 0;
  bottom: 0;
  top: 0;
  overflow: hidden;
}
.container div {
  position: absolute;
  border-radius: 50%;
  animation: gradient 4s infinite;
}

@keyframes gradient {
  70% {
    transform: scale(1.2) translate(50px);
  }
}
.container div:nth-child(1) {
  height: 90%;
  width: 80%;
  background-color: rgb(222, 219, 219);
  left: -20%;
}

.container div:nth-child(2) {
  height: 80%;
  width: 70%;
  background-color: rgb(241, 239, 239);
  top: -12%;
  right: -12%;
  animation-delay: 8s;
}

.container div:nth-child(3) {
  height: 65%;
  width: 80%;
  background-color: rgb(222, 219, 219);
  bottom: -15%;
  right: -20%;
  animation-delay: 0.3s;
}

.container div:nth-child(5) {
  height: 35%;
  width: 30%;
  background-color: rgb(255, 255, 255);
  bottom: 25%;
  right: 40%;
  animation-delay: 0.3s;
}

.container div:nth-child(6) {
  height: 15%;
  width: 10%;
  background-color: rgb(220, 217, 217);
  bottom: -5%;
  right: 1%;
  animation-delay: 0.3s;
}

.container div:nth-child(4) {
  height: 50%;
  width: 65%;
  background-color: rgb(249, 245, 245);
  bottom: -10%;
  left: -18%;
  animation-delay: 1.2s;
}

.container::after {
  position: absolute;
  content: "";
  height: 100%;
  width: 100%;
  backdrop-filter: blur(80px);
}
